* {
  border: 0;
  margin: 0;
}

body {
  background-color: black;
   background-repeat: no-repeat;
   font-family: 'Montserrat', sans-serif, Open Sans;
   background-size: cover;
   background-attachment: fixed;
   overflow: hidden;
 }

 .header {
   display: inline-flex;
  height: 120px;
  max-width: 360px;
  margin: auto;
  justify-content: center;
}

.logo {
  background-image: url(./Imagenes/cancha.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 241px;
  height: 120px;
  background-position: center;
}

.titulo {
  background-image: url(./Imagenes/titulo.png);
  background-repeat: no-repeat;
  width: 550px;
  height: 120px;
  background-size: contain;
  background-position: center;
}